:root{
    --lighter: #9277ff;
    --light: #9277ff;
    --dark: #4700b9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

::-webkit-scrollbar{
    display: none;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

header{
    background-color: var(--lighter);
    color: rgb(0, 0, 0);
}

header .logo{
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

header .logo .img{
    height: 5vh;
    width: 5vh;
    border-radius: 4px;
    overflow: hidden;
}

header .logo .img img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

header .search{
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

header .search input{
    padding: 1vh;
    max-width: 80%;
    border-radius: 20px;
    outline: none;
    border: 1px solid rgba(126, 126, 126, 0.737);
    font-size: 14px;
}

header .search button{
    padding: 1vh 1.5vh;
    font-size: 14px;
    background-color: var(--dark);
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
}

header #catagoryTabs{
    display: flex;
    align-items: start;
    flex-shrink: 0;
    justify-content: start;
    overflow: scroll;
    cursor: pointer;
    background-color: var(--light);
    min-width: 100vw;
}

header #catagoryTabs h4{
    text-align: center;
    flex-grow: 1;
    flex-shrink: 0;
    font-weight: 200;
    color: rgb(240, 240, 240);
    font-size: 14px;
    text-wrap: nowrap;
    padding-inline: 2vh;
    padding-block: 0.5vh;
    border-right: 1px solid black;
    border-top: 1px solid black;
    font-weight: 600;
}

.screen{
    height: 100%;
}

#addBTN{
    background: linear-gradient(135deg, var(--dark), var(--light));
    border-radius: 10px;
    color: rgb(255, 255, 255);
    height: 8vh;
    width: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    bottom: 4vh;
    right: 4vh;
}

.activeCategory{
    background-color: var(--dark);
    color: rgb(255, 255, 255);
}

#required{
    color: red;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.384);
    position: absolute;
    bottom: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 2vh;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(126, 126, 126, 0.502);
    width: 100%;
    height: 80vh;
    bottom: 0;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    padding-inline: 4vh;
    padding-block: 2vh;
}

form .inputs{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

form .close{
    display: flex;
    justify-content: end;
    cursor: pointer;
    align-self: flex-end;
}

form .close span{
    height: 4vh;
    width: 4vh;
    background-color: var(--dark);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

form .inputs fieldset{
    outline: none;
    border: none;
    font-size: 14px;
}

form .inputs input{
    outline: none;
    border: 1px solid rgba(117, 117, 117, 0.868);
    border-radius: 7px;
    width: 100%;
    padding: 1vh;
    color: black;
    font-size: 16px;
}

textarea{
    outline: none;
    border: 1px solid rgba(117, 117, 117, 0.868);
    border-radius: 7px;
    width: 100%;
    padding: 1vh;
    color: black;
    font-size: 16px;
}

form #edit{
    outline: none;
    border: none;
    width: 35%;
    padding: 1vh;
    color: white;
    background-color: var(--dark);
    align-self: flex-end;
}

.choosed-categories{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5vh;
    flex-wrap: wrap;
}

.choosed-categories h5{
    font-weight: 400;
    background-color: #4700b9;
    padding: 0.6vh 0.5vh;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
}

.choosed-categories h5 span{
    background-color: white;
    color: black;
    border-radius: 50%;
    display: inline-block;
    height: 2vh;
    width: 2vh;
    text-align: center;
}

#newCategory{
    display: none;
}

#newCategory input{
    width: 50%;
}

.addNewCategory{
    outline: none;
    border: none;
    padding: 1vh 2vh;
    color: white;
    background-color: var(--dark);
    align-self: flex-end;
    font-size: 12px;
}

.grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 2vh;
    padding: 1vh;
    height: 70vh;
    margin-top: 2vh;
    overflow-y: scroll;
}

.card{
    width: 100%;
    padding: 2vh 4vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(184, 184, 184, 0.865);
    display: flex;
    align-items: start;
    justify-content: space-between;
    cursor: pointer;
}

.card.completed{
    background-color: rgba(227, 227, 227, 0.76);
    color: grey;
}

.card .right{
    background-color: rgba(255, 160, 160, 0.573);
    color: red;
    padding: 2vh;
    border-radius: 10px;
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
}

.card .left{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.card .left h2{
    font-size: 18px;
}

.card .left p{
    font-size: 14px;
    font-weight: 400;
}

.card .left a{
    text-decoration: none;
    color: black;
}

.card .left .numspan{
    text-decoration: underline;
    font-size: 14px;
    font-weight: 600;
}

.card .left .remarks{
    color: var(--dark);
    font-weight: 600;
}

.deleteOverlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.781);
}

.deleteOverlay .mssg{
    background-color: whitesmoke;
    height: 15vh;
    width: 80vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: -100px;
    animation: deleteAnime 250ms linear forwards;
}

.deleteOverlay .mssg h4{
    font-weight: 400;
}

.deleteOverlay .mssg button{
    background-color: rgb(255, 199, 199);
    color: red;
    border: none;
    border-radius: 4px;
    align-self: flex-end;
    padding: 1vh 2vh;
}

@keyframes deleteAnime {
    form{
        top: -100px;
    }
    to{
        top: 100px;
    }
}
